.aboutDiv{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.subCaja{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.subCaja1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaSub2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
border-radius: 10px;
}
.caja1{
    width: 50%;
    height: 100%;
}
.caja2{
    width: 50%;
    height: 100%;
}

.imgCaja1{
    width: 100%;
    height: 100%;
    size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titleAbout{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    color: teal;
    text-shadow: 0px 10px 20px #407c78;
}

.description{
    font-size: 23px;
    color: #031e29;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spanText{
    color: #64ccc5;
    font-size: 35px;
}

@media screen and (min-width: 700px) and (max-width: 1199px){
    .aboutDiv{
        width: 100%;
        min-height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .subCaja{
        width: 70%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
    }
    
    .subCaja1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cajaSub2{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    border-radius: 10px;
    }
    .caja1{
        width: 50%;
        height: 100%;
    }
    .caja2{
        width: 50%;
        height: 100%;
    }
    
    .imgCaja1{
        width: 100%;
        height: 100%;
        size: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .titleAbout{
        font-size: 60px;
        text-align: center;
        margin-bottom: 20px;
        color: teal;
        text-shadow: 0px 10px 20px #407c78;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .description{
        font-size: 23px;
        color: #031e29;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .spanText{
        color: #64ccc5;
        font-size: 35px;
    }
    
}
@media screen and (min-width: 500px) and (max-width: 699px){
    .aboutDiv{
        width: 100%;
        min-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subCaja{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
    }
    
    .subCaja1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cajaSub2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .caja1{
        width: 100%;
        height: auto;
    }
    .caja2{
        width: 100%;
        height: auto;
    }
    
    .imgCaja1{
        width: 100%;
        height: 100%;
        size: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .titleAbout{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        color: teal;
        text-shadow: 0px 10px 20px #407c78;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .descriptionAbout{
        font-size: 19px;
        color: white;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .spanText{
        color: #64ccc5;
        font-size: 35px;
    }
}
@media screen and (max-width: 499px){
    .aboutDiv{
        width: 100%;
        min-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .subCaja{
        width: 90%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
    }
    
    .subCaja1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cajaSub2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .caja1{
        width: 100%;
        height: auto;
    }
    .caja2{
        width: 100%;
        height: auto;
    }
    
    .imgCaja1{
        width: 100%;
        height: 100%;
        size: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .titleAbout{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        color: teal;
        text-shadow: 0px 10px 20px #407c78;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .descriptionAbout{
        font-size: 19px;
        color: white;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .spanText{
        color: #64ccc5;
        font-size: 35px;
    }
}